@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
  --theme-color: rgba(0, 113, 255, 0.50);
  --theme-color-hover: rgba(0, 113, 255, 1);
  --navbar-color: rgba(20,20,20, 0.9);
  --navbar-border-botom: rgba(0, 0, 0, 1);
}

body {
  margin-top: 10vh;
  width: 100%;
  height: 100%;
  font-size: 1em !important;
  background-image: url("../img/intro-background-1.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: background-image ease 0.8s;
  transition: background-image ease 0.8s;

}

@media only screen and (max-width: 1000px){
  body{
    background-image: url("../img/intro-background-2.jpg");
  }
}
@media only screen and (orientation: portrait) and (max-width: 1000px){
  body{
    background-image: url("../img/intro-background-3.jpg");
  }
}


html {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

h5{
  font-size: 1.2rem;
  padding: 0 0 10px 0;
}

h1,h2,h3,h5{
  text-align: left;
  font-weight: 600 !important;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(0,0,0,0.7);
}

.button  {
  border: 2px solid #8e6677;
  border-image-slice: 3;
  font-size: 1.2rem;
  background: transparent;
  border-radius: 12px;
  background-size: 200% auto;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  font-weight: 500;
  color:  #8e6677;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#618099), color-stop(51%, #8e6677), to(#618099));
  background-image: linear-gradient(to right, #618099 0%, #8e6677 51%, #618099 100%);
  background-color: #8e6677;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
}



.content {
  position: relative !important;
}
.section {
  /*Very important. It keeps the section at minimum
    height of 100% - meaning the height of the screen
    and also extends the section if the content requires it. */
  height: auto;
  background-color: #f7f7f9;
  min-height: 100vh;
  width: 90%;
  max-width: 1000px;
  font-size: 1em;
  text-align: justify;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10vh;
  -webkit-box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.3);
}
#intro {
  margin-top: 15vh;
}
#contact{
  margin-bottom: 20vh;
}
.text-container {
  padding: 5vh 30px 5vh 30px;
}
.thumb {
  width: 100%;
}

/*
Navbar and all elements in it
*/
li {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-light .container {
  width: 100%;
}
.navbar-light .container>button {
  border: none !important;
}
.navbar.navbar-light {
  background-color: var(--navbar-color);
  border-bottom: 1px solid var(--navbar-border-botom);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.4);
  display: -webkit-box;
  outline: none;
}
#navbar-brand {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.20) !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler, #navbar-brand-spy {
  font-size: 1.2rem;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  margin-left: 5%;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav>li>a:hover,
.navbar-light .navbar-nav>li>a:focus {
  border-bottom: none;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav>li>a:hover,
.navbar-light .navbar-nav>li>a:focus {
  color: white !important;
}

/*
Phone background and display
*/

#wrapper{
  padding-left: 0;
  padding-right: 0;
}

#phone-background{
  height: auto;
  width: 100%;
  position: relative;
}

#phone-display{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/spotter/1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 57.8% auto;
  -webkit-transition: background-image  0.25s ease-in-out;
  transition: background-image  0.25s ease-in-out;
}
#info{
  color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 300;
}
.important{
  color: #8e6677;
}

#tabs{
  z-index: 3;
  bottom: 15.2%;
  left: 21.2%;
  width: 57.68%;
  height: 6%;
  position: absolute;
}
#link1, #link2, #link3, #link4{
  position: absolute;
  width: 15%;
  height: 100%;
  cursor: pointer; cursor: hand;
}
#link1{
  left: 5%;
}
#link2{
  left: 30%;
}
#link3{
  left: 55%;
}
#link4{
  left: 80%;
}

/*
Other elements
*/

.button-wrapper {
  margin: 3rem 0 3rem 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
