:root {
  --theme-color: rgba(0, 113, 255, 0.50);
  --theme-color-hover: rgba(0, 113, 255, 1);
  --navbar-color: rgba(20,20,20, 0.9);
  --navbar-border-botom: rgba(0, 0, 0, 1);
}

body {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  font-size: 1em !important;
  background-image: url("../img/intro-background.jpg");
  line-height: 1.6;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}
html {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}
h2 {
  font-size: 2rem;
  padding-bottom: 40px;
}
h3 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

h1,h2,h3{
  text-align: left;
  font-weight: 700 !important;
}

p {
  font-size: 1rem;
  font-weight: 300 !important;
  padding-bottom: 50px;
}



.content {
  position: relative !important;
}
.section {
  /*Very important. It keeps the section at minimum
    height of 100% - meaning the height of the screen
    and also extends the section if the content requires it. */
  height: auto;
  min-height: 100vh;
  width: 55%;
  min-width: 768px;
  max-width: 1024px;
  font-size: 1em;
  text-align: justify;

  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.3);

}
.intro-section {
  margin-top: 15vh;
}
.contact-section{
  margin-bottom: 20vh;
}
.intro-section, .contact-section{
  background-color: #eceeef;
}
.projects-section {
    background-color: #eceeef;
  /*background-color: #f7f7f9; */
}
.text-container {
  padding: 5vh 30px 5vh 30px;
}
.thumb {
  min-height: 660px;
  height: 45vh;
  max-height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumb-intro{
  background-image: url("../img/intro-background-thumb.png");
}

.thumb-projects{
  background-image: url("../img/projects-background-thumb.png");
}

/*
Navbar and all elements in it
*/
li {
  padding-right: 15px;
}

.navbar-light .container {
  width: 100%;
}
.navbar-light .container>button {
  border: none !important;
}
.navbar.navbar-light {
  background-color: var(--navbar-color);
  border-bottom: 1px solid var(--navbar-border-botom);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.4);
  display: -webkit-box;
  outline: none;
}
#navbar-brand {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.20) !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler, #navbar-brand-spy, .btn-lg {
  font-size: 1.2rem;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  margin-left: 5%;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav>li>a:hover, .navbar-light .navbar-nav>li>a:focus {
  border-bottom: none;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav>li>a:hover, .navbar-light .navbar-nav>li>a:focus {
  color: white !important;
}

/*
Other elements
*/




.btn-lg {
  padding-right: 2em;
  padding-left: 2em;
}

.button-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.phone-background {
  background-image: url("../img/google_blue.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto; /*=cover */

  height: 65vh;
  width: 45vh;
  max-height: 80vh;
  max-width: 80vh;
  /*
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 80vh;
  max-width: 80vh; */
}

.phone-display {
  /*used for the screenshots later*/
  z-index: 2;
}
