:root {
  --color-bg: #282a36;
  --color-text: #eee;
  --color-red: #ff5555;
  --color-green: #50fa7b;
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

/* Reset Styles */
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -ms-touch-action: manipulation;
  line-height: 1.5;
  display: block;
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
  text-transform: none;
  color: #4A90E2;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  color: #04143A;
  margin: 0;
  padding: 2rem;
  text-rendering: optimizeLegibility;
  background-color: #3C4556;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1280));
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  text-transform: none;
  color: #4A90E2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  color: #15171a;
  font-size: 1em;
  line-height: 1.5;
}

strong {
  font-weight: 600;
}

div, footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  letter-spacing: -1.5px;
  line-height: 1.2;
}

h1 {
  font-size: 26.9568px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(26.9568px + 54.0432 * ((100vw - 320px) / 1280));
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 81px;
  }
}

h2 {
  letter-spacing: -0.5px;
  line-height: 1.2;
}

h2 {
  font-size: 22.464px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(22.464px + 31.536 * ((100vw - 320px) / 1280));
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 54px;
  }
}

h3 {
  letter-spacing: 0px;
}

h3 {
  font-size: 18.72px;
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(18.72px + 17.28 * ((100vw - 320px) / 1280));
  }
}

@media screen and (min-width: 1600px) {
  h3 {
    font-size: 36px;
  }
}

h4 {
  letter-spacing: 0.25px;
}

h4 {
  font-size: 15.6px;
}

@media screen and (min-width: 320px) {
  h4 {
    font-size: calc(15.6px + 8.4 * ((100vw - 320px) / 1280));
  }
}

@media screen and (min-width: 1600px) {
  h4 {
    font-size: 24px;
  }
}

p {
  letter-spacing: 0.5px;
}

p {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1280));
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 16px;
  }
}

/* Reset ends */
/*Hero section */
/*# sourceMappingURL=minimal.css.map */